<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PassMan - About</title>
</head>
<body class="bg-gray-100">
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="" class="flex">
              <span class="text-4xl font-semibold whitespace-nowrap dark:text-white">PassMan</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto " id="navbar-default">
            <ul class="font-bold text-xl tracking-tight flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 tracking-tight ">
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Register</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">LogIn</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Privacy Policy</a>
              </li>
              <li>
                <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="slider flex flex-col-reverse md:flex-row md:bg-[#bcdcfa] bg-white">
        
        <div class="container mx-auto py-8 px-4">
            <h1 class="text-5xl font-bold tracking-tight mb-4 text-center text-[#004561]">About Us</h1>
            <p class="text-black text-2xl font-bold tracking-tight mb-8 pt-4 ">
                PassMan is a secure password manager designed to help you manage and protect your passwords with ease.
                Our
                goal is to
                provide a user-friendly and reliable platform that ensures the safety of your digital credentials.
            </p>

            <h2 class="text-3xl tracking-tight font-bold mb-4">Features:</h2>
            <ul class="list-disc list-inside text-black mb-8 font-medium text-xl ">
                <li>Create Account: Easily create a personal account on PassMan to start safeguarding your passwords.
                </li>
                <li>Login Page: Securely log in to your PassMan account using your registered email and password.</li>
                <li>Dashboard: Access a user-friendly dashboard that allows you to manage and organize your passwords
                    effectively.</li>
                <li>Password Storage: Safely store an unlimited number of passwords using advanced encryption
                    techniques.
                </li>
                <li>Password Generator: Generate strong and unique passwords to enhance your password security.</li>
                <li>Password Categories and Tags: Organize your passwords efficiently by assigning categories and tags.
                </li>
                <li>Cross-Device Sync: Seamlessly access your passwords across multiple devices.</li>
                <li>Secure Encryption: PassMan prioritizes your security by utilizing industry-standard encryption
                    algorithms.</li>
                <li>Two-Factor Authentication (2FA): Add an extra layer of security to your PassMan account.</li>
                <li>Password History and Versioning: Keep track of your password changes with PassMan's versioning
                    feature.
                </li>
            </ul>

            <h2 class="text-3xl tracking-tight font-bold mb-4">Your Security Matters</h2>
            <p class="text-black mb-8 text-xl font-medium">
                At PassMan, we take your privacy and security seriously. We employ stringent measures to protect your
                personal
                information and ensure the highest level of data security. Our team continuously updates and improves
                our
                security
                protocols to stay ahead of potential threats and vulnerabilities.
            </p>

            <h2 class="text-3xl tracking-tight font-bold mb-4">Get Started Today</h2>
            <p class="text-black text-xl font-medium ">
                Experience the convenience and peace of mind that PassMan provides. Sign up for a secure password
                management
                account
                today and take control of your digital passwords.
            </p>
        </div>
        <div class="left h-[95vh] mr-28 mt-16">
            <img src="../../static/about.png" class=" w-[50rem]" alt="">
        </div>
    </div>
</body>

</html>