{% extends 'home/base.html' %}

{% block title %}About us{% endblock title %}

{% block content %}
<div class="center">
    <div class="card m-3" style="width: 100rem;">
        <div class="card-body m-3">
            <h5 class="card-title"><u>About LeashShield</u></h5>
            <p class="card-text"><h2>LeashShield</h2> is a decentralized password manager that stores users' stored password on a decentralized blockchain. This is what separates LeashShield from most other password managers.
            <br><i>LeashShield is a password manager that is not only secure, but also decentralized.</i>
            </p>
        </div>
    </div>
</div>
{% endblock content %}