{% extends 'home/base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
<div class="center">
    <div class="card m-3" style="width: 100rem;">
        <div class="card-body m-3">
            <h5 class="card-title"><u>Contact</u></h5>
            <p class="card-text">
                Email: <a href="mailto:asamadans@gmail.com">asamadans@gmail.com</a><br>
                Twiiter: <a href="https://twitter.com/BlueCircle0">@BlueCircle0</a><br>
                GitHub: <a href="https://github.com/SAMAD101">SAMAD101</a><br>
                LinkedIn: <a href="https://www.linkedin.com/in/abdul-samad-ansari-5124a124a/">CLickHere</a><br>
                Matrix: <a href="https://matrix.to/#/@samad101:matrix.org">@samad101:matrix.org</a><br>
                <br>
                Contribute:  <a href="https://github.com/SAMAD101/LeashShield">ClickHere</a><br>
            </p>
            </p>
        </div>
    </div>
</div>
{% endblock content %}