{% extends 'users/base.html' %}
{% load static %}
{% block title %}Dashboard | {{ user.username }} | LeashShield{% endblock title %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' username=user %}">LeashShield</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#add_modal">Add</button>
        </li>
        <li class="nav-item active">
          <a class="nav-link link-danger" href="{% url 'logout' %}">Log out</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
            <li><a class="dropdown-item" href="{% url 'privacy' %}">Privacy policy</a></li>
            <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="add_modal" tabindex="-1" aria-labelledby="add_modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="hidden" name="purpose" value="add_password">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="url" id="url">
            <label for="url" class="col-form-label">URL:</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="spassword" id="spassword">
            <label for="spassword" class="col-form-label">Password:</label>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="password-entry">
    {% for password in passwords %}
      <div class="card p-1 m-1" style="width: 20rem;">
        <ul class="list-group-flush">
          <li class="list-group-item">{{ forloop.counter }}. {{ password.url }} - {{ password.saved_password }}</li>
          <li class="list-group-item">{{ password.date_added }}</li>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_modal_{{ password.id }}">Edit</button>
              </div>
              <div class="col">
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="hidden" name="purpose" value="delete_password">
                  <input type="hidden" name="id" value="{{ password.id }}">
                  <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </form> 
              </div>
            </div>
          </li>
        </ul>
        <div class="modal fade" id="edit_modal_{{ password.id }}" tabindex="-1" aria-labelledby="edit_modal_{{ password.id }}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">Edit <sub>{{ password.url }}</sub></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="hidden" name="purpose" value="edit_password">
                  <input type="hidden" name="id" value="{{ password.id }}">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="url" id="url" value="{{ password.url }}">
                    <label for="url" class="col-form-label">Change URL:</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="npassword" id="npassword">
                    <label for="npassword" class="col-form-label">New Password:</label>
                  </div>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>



<script src="{% static 'dashboard.js' %}"></script>
{% endblock content %}
