{% extends 'users/base.html' %}

{% block title %}Login | PassMan{% endblock title %}

{% block content %}

<div class="aligns-items-center justify-content-center card mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">Log in</h2>
      <form>
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="username" class="form-control" id="username">
          <div id="username" class="form-text">Your unique username</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
            <div id="email" class="form-text">Enter the email linked with this account.</div>
          </div>
        <div class="mb-3">
          <label for="password" class="form-label">Master password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="card-body d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Master password
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Master password</strong> is the password you use to log in to your account. It is the only password you need to remember.
            </div>
          </div>
        </div>
    </div>
</div>



{% endblock content %}